h1 {
  color: white;
  text-shadow: 0 0 5px black, 0 0 9px hsl(140, 21%, 54%);
  font-size: 65px;
}
h2 {
  color: white;
  text-shadow: 0 0 2px black, 0 0 9px hsl(140, 21%, 54%);
  font-size: 36px;
}
h3 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}
      body {
        margin: 0;
      }
      
      .header{
    
      font-family: Garamond, serif;
      background-image: url("https://media.gettyimages.com/id/1339751014/photo/rain-in-the-forest-vancouver-canada.jpg?s=612x612&w=0&k=20&c=9OWQKb3u7p2DpSDrxDTS7uBqawrjtuKycrcthLVNpZA=");
      padding: 20px;
      text-align: center;
       
      }
      .topnav {
        overflow: hidden;
        background-color: #4eac65;
      }
      .topnav a {
        float: left;
        display: block;
        color: #fff9f9;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .topnav a:hover {
        background-color: #0a6320;
        color: rgb(0, 0, 0);
      }
      .topnav a:active {
        background-color:rgb(20, 192, 92);
        box-shadow: 0 5px #056337;
        transform: translateY(4px);
      }  
.container {
  padding: 45px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: justify;}

/* Future 2 bottom columns */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  background-color: rgb(113, 90, 165);
  height: 500px;
  text-align: center;
}

.green-column {
  background-color: rgb(105, 146, 105);
  height: 500px;
  text-align: center;
}

/*responsive layout*/
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  color: white;
}

.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 15px;
}
.social-media {
  display: flex;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
}
.social-media a {
  color: white;
  margin: 20px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}
.social-media a ion-icon {
  color: white;
  background-color: black;
}
.social-media a:hover ion-icon {
  color: rgb(59, 17, 17);
  transform: translateY(5px);
}
.footer2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
}
.footer0 {
  font-weight: 1200;
  transition-duration: 1s;
}
.footer0:hover {
  color: rgb(36, 16, 110);
}
.footer2 .heading {
  font-weight: 900;
  font-size: 18px;
}
.footer3 {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer2 .heading:hover {
  color: rgb(68, 40, 168);
}
.footer2 .div:hover {
  transform: scale(1.05);
}
.footer3 h4 {
  margin: 0 10px;
}
.footer2 div {
  margin: 10px;
}
.menu {
  visibility: hidden;
}
.heading1 .ham:active {
  color: rgb(68, 17, 17);
}
.items {
  overflow: hidden;
}
.ham,
.close {
  cursor: pointer;
}
